name: CI

on:
  push:
  pull_request:
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - uses: leafo/gh-actions-lua@v8.0.0
        with:
          luaVersion: "5.1.5"

      - uses: leafo/gh-actions-luarocks@v4.0.0

      - name: install luastatic
        run: luarocks install luastatic
      
      - name: install gcc-mingw-w64
        run: sudo apt-get install gcc-mingw-w64

      - name: build-luastatic
        run: ./scripts/build-luastatic.sh
